html, body{
  font-family: Helvetica, sans-serif;
  margin: 0;
}
header{
  background-color: #5DBCD2;
  padding: 40px;
  padding-bottom: 20px;
  text-align: center;
}
h1{
  font-size: 70px;
  color: white;
  }
header img{
  width:280px;
  border-radius: 153px;
  border: 9px solid #fff;
}



.content {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

img.big-image{
  max-width: 100%
}

p.caption{
  font-size: 16px;
  color: lightgrey;
  font-style: italic;
  padding-bottom: 25px;
}

ul{
  list-style: none;
  padding: 0;
  margin-left: 0;
}

a{
  color: lightblue;
  text-decoration: none;
}

footer a {
  color: white;
  text-decoration: none;
}

footer{
  margin-top: 20px;
  padding: 40px 20px;
  background-color: lightgrey;
}

footer ul{
  text-align: center;
}

footer ul li{
  display: inline-block;
  margin: 0 15px;
}
